In [1]:
# Importing the necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from sklearn.model_selection import train_test_split

In [2]:
#Configuring Settings
pd.set_option("mode.copy_on_write", True)
pd.set_option("display.max_colwidth",200)

In [3]:
# Downloading the datasets
nltk.download("stopwords")
nltk.download("punkt")
nltk.download("wordnet")

[nltk_data] Downloading package stopwords to /home/vscode/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /home/vscode/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /home/vscode/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [4]:
# Importing the dataset
df = pd.read_csv("../../01_Data/01_Raw/raw_tweets.csv")
df.sample(5)

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
21134,21589,3,0,3,0,1,Spring is almost here.. &#171;@Me1st_u_last I realized that my collection of hoes has severely decreased &#128530;&#128530;&#128530;&#128530;&#187;
12346,12658,3,0,2,1,1,Lesson: #NFL is 4 heterosexuals. Wat else do we need besides Michael Sam for us fags to get a clue. Breeders have their thing we have ours
20640,21088,3,1,2,0,1,Scott told me at work today he wants to come over to get me drunk and then seduce my girlfriend...&#128299;&#128298; I'll kill you bitch &#128545;
10843,11124,6,0,0,6,2,I really want a girl to make me some brownies &#128553;&#128557;
21831,22297,3,0,3,0,1,These niggas cars be $800 and they have the nerve to put some 2500 rims and some speakers in the bitch

In [5]:
# Dropping the columns that are not needed
df = df[["class", "tweet"]]
df.sample(5)

,class,tweet
23938,1,holy shit i am just getting dunked on by a cripple this is unreal
6345,1,@karlina_marie your pussy not mine &#128514; do you &#128526;
8949,2,Enjoying My bed. Just perfect For me My Teddy bear and monkey It. #Singlelife #bed #teddybear
22958,1,Woke up cold thenna bitch n stomach on Flat fr &#128514;&#128514;&#128514; http://t.co/71IVR8ISlK
9729,1,He got hoes for sell! Shop with him! #lmfao #TrekGang http://t.co/iuCM6OEVy3

In [6]:
#get rows which have https in tweet
df.loc[df["tweet"].str.contains("https", na=False)].sample(5)

,class,tweet
1504,1,&#8220;@SAVINGNOHOES: When she ask how imma eat her pussy https://t.co/6wVjrC3m1Q&#8221;&#128128;
17285,1,RT @SheeeRatchet: When you and your boys discover a hoe&#128514;&#128514;&#128514; https://t.co/QHoHalWQJ2
992,1,&#128514;&#128514;&#128514;&#128514; @shoota1017 bitch was mad af https://t.co/9C4i4W7Q7D
10738,1,I love you my nigguh but your a grown ass man https://t.co/utZj6I5Uhj
17117,1,RT @RobIsRandomAF_6: &#128514;&#128514;&#128514;&#128514;&#128514;This bitch came to the club with a broken neck? Bitch you serious? https://t.co/D4bpFhPj6x

In [7]:
df.iloc[12955, :]

class                                                                                                                                             1
tweet    My baby Lexy. She is a whole ain't shit bitch in the winter. Sorry ass RWD that's her only flaw. Still love you tho http://t.co/5UGfhrdrxT
Name: 12955, dtype: object

# Data Cleaning Process Starts Here

In [8]:
# create helper colums for cleaning
df["clean_tweet"] = df["tweet"].astype(str)

In [9]:
# Convert all the text to lower case
df["clean_tweet"] = df["clean_tweet"].str.lower()

In [10]:
# removing URLS
def remove_URL(text):
    text = re.sub(r"http\S+", "", text)
    return text


df["clean_tweet"] = df["clean_tweet"].apply(remove_URL)

In [11]:
# removing mentions
def remove_mentions(text):
    return re.sub(r"@\w+", "", text)


df["clean_tweet"] = df["clean_tweet"].apply(remove_mentions)

In [12]:
# removing hashtags
def remove_hashtags(text):
    return re.sub(r"#\w+", "", text)


df["clean_tweet"] = df["clean_tweet"].apply(remove_hashtags)

In [13]:
# removing special characters and numbers
spl_chrs = "!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~"


def remove_spl_chrs(text):
    text = "".join([_ for _ in text if _ not in spl_chrs])
    text = re.sub("[0-9]+", "", text)
    return text


df["clean_tweet"] = df["clean_tweet"].apply(lambda x: remove_spl_chrs(x))

In [14]:
# removing stopwords
stop = stopwords.words("english")
df["clean_tweet"] = df["clean_tweet"].apply(
    lambda x: " ".join([word for word in x.split() if word not in (stop)])
)

In [15]:
# removing retweet
def remove_rt(text):
    return re.sub("^[rt]+", "", text)


df["clean_tweet"] = df["clean_tweet"].apply(remove_rt)

In [16]:
df["tokenized"] = df["clean_tweet"].apply(word_tokenize)

In [17]:
df.sample(5)

,class,tweet,clean_tweet,tokenized
7661,1,All you ladies pop your pussy like this,ladies pop pussy like,"[ladies, pop, pussy, like]"
15683,1,RT @Its_KingWalt: Bruh.. Don't do this RT &#8220;@Trent_W93: Females swear their best friend is the baddest bitch in the world!&#8221;,bruh dont rt females swear best friend baddest bitch world,"[bruh, dont, rt, females, swear, best, friend, baddest, bitch, world]"
19004,1,RT @finlife54: @Vontey_isa_boss &#127797; bitch lol,bitch lol,"[bitch, lol]"
4800,2,@SugarShai2 youtube bear vs monkey bike race!,youtube bear vs monkey bike race,"[youtube, bear, vs, monkey, bike, race]"
5610,1,@biggerboat99 please be a little depressed bitch the entire time,please little depressed bitch entire time,"[please, little, depressed, bitch, entire, time]"

In [18]:
#Confirm if HTTPs are removed
df.iloc[12955,:]

class                                                                                                                                                   1
tweet          My baby Lexy. She is a whole ain't shit bitch in the winter. Sorry ass RWD that's her only flaw. Still love you tho http://t.co/5UGfhrdrxT
clean_tweet                                                                baby lexy whole aint shit bitch winter sorry ass rwd thats flaw still love tho
tokenized                                                  [baby, lexy, whole, aint, shit, bitch, winter, sorry, ass, rwd, thats, flaw, still, love, tho]
Name: 12955, dtype: object

# Data Stemming and Lematization

In [19]:
# Stemming
ps = nltk.PorterStemmer()


def stemming(text):
    text = [ps.stem(word) for word in text]
    return text


df["tokenized"] = df["tokenized"].apply(lambda x: stemming(x))

In [20]:
# Lemmatization
wn = nltk.WordNetLemmatizer()


def lemmatizer(text):
    text = [wn.lemmatize(word) for word in text]
    return text


df["tokenized"] = df["tokenized"].apply(lambda x: lemmatizer(x))

In [21]:
# regenrate the clean tweet
def regen_tweet(text):
    return " ".join(text)
df["clean_tweet"] = df["tokenized"].apply(lambda x: regen_tweet(x))

In [22]:
df.sample(5)

,class,tweet,clean_tweet,tokenized
11362,1,"I'm pretty sure the dmv won't let me take a new pic, but a bitch might accidentally lose my license again where they have to take a new pic",im pretti sure dmv wont let take new pic bitch might accident lose licens take new pic,"[im, pretti, sure, dmv, wont, let, take, new, pic, bitch, might, accident, lose, licens, take, new, pic]"
20570,1,Rusty hoe to bumpin 2 me #NeedDaName http://t.co/DwAEjyUbQr,usti hoe bumpin,"[usti, hoe, bumpin]"
11331,2,"I'm not big on the ""Uncle Tom"" slur anyway, but can we at least reserve it for those who earn it, not just those who dare to not vote Dem?",im big uncl tom slur anyway least reserv earn dare vote dem,"[im, big, uncl, tom, slur, anyway, least, reserv, earn, dare, vote, dem]"
20421,1,RT @yungkatana: free wop,free wop,"[free, wop]"
15305,1,RT @GLODEH: Her shitty booty ass talm about its a prep rally. How bitch how? What y'all preparing for? &#128514;&#128514;&#128514;,shitti booti as talm prep ralli bitch yall prepar,"[shitti, booti, as, talm, prep, ralli, bitch, yall, prepar]"

# Data Selection

In [23]:
# Dropping category 0 from the dataset since it has low values as seen in the EDA
df = df[df["class"] != 0]

In [24]:
df["Length"] = df["tokenized"].apply(len)

In [25]:
# Dropping tweets with 0 length
df = df[df["Length"] != 0]

In [26]:
# Generating simple label for easy identification
df["offensive"] = df["class"].apply(lambda x: "Yes" if x == 1 else "No")

In [27]:
df.sample(5)

,class,tweet,clean_tweet,tokenized,Length,offensive
2354,1,"@ASAP_RocKI_ @HuhWhatsACondom *sighs* 1. Not a bitch. I'm a woman. LEARN THE DIFFERENCE. 2. I KNOW I'm fat. 3. It's called a scarf, dumbass.",sigh bitch im woman learn differ know im fat call scarf dumbass,"[sigh, bitch, im, woman, learn, differ, know, im, fat, call, scarf, dumbass]",12,Yes
2379,1,@Adolfhibsta I've seen a number of bitches on here say there's no such thing as loose pussy lol. Ok,ive seen number bitch say there thing loo pussi lol ok,"[ive, seen, number, bitch, say, there, thing, loo, pussi, lol, ok]",11,Yes
23290,1,"You da bess, you deserve a crown bitch!",da be deserv crown bitch,"[da, be, deserv, crown, bitch]",5,Yes
8631,1,Damn some Oreos would be so fucking clutch right now!!!,damn oreo would fuck clutch right,"[damn, oreo, would, fuck, clutch, right]",6,Yes
2552,1,@BarackObama make weed legal you pussy you know you smoke that shit,make weed legal pussi know smoke shit,"[make, weed, legal, pussi, know, smoke, shit]",7,Yes

In [28]:
# dropping extra columns
df2 = df[["offensive", "class", "tokenized", "clean_tweet"]]

In [29]:
# View Distribution of the classes
df2["offensive"].value_counts()

offensive
Yes    19181
No      4156
Name: count, dtype: int64

In [30]:
# create a new random sample with 4000 rows from each class
df3 = (
    df2.groupby("offensive")
    .apply(lambda x: x.sample(n=4000, random_state=42))
    .reset_index(drop=True)
)

In [31]:
df3["offensive"].value_counts()

offensive
No     4000
Yes    4000
Name: count, dtype: int64

In [32]:
df3.sample(5)

,offensive,class,tokenized,clean_tweet
3582,No,2,"[happi, birthday, pop, old, negro, spiritu, today, lol]",happi birthday pop old negro spiritu today lol
2830,No,2,"[last, thought, bed, mock, elect, rd, grade, vote, perot, mayb, relat, realli, big, ear, idk]",last thought bed mock elect rd grade vote perot mayb relat realli big ear idk
3039,No,2,"[hillari, dodo, bird, candid, via]",hillari dodo bird candid via
5684,Yes,1,"[never, follow, bitch, who, bio, look, like]",never follow bitch who bio look like
3730,No,2,"[whoever, mock, poor, insult, maker, glad, calam, go, unpunish]",whoever mock poor insult maker glad calam go unpunish

In [33]:
# Replacing the class labels 2 with 0 for easy use in models
df3["class"] = df3["class"].replace(2, 0)

In [34]:
#confirm the mapping
df3[['class','offensive']].value_counts().reset_index()

   class offensive  count
0      0        No   4000
1      1       Yes   4000

In [35]:
# Splitting the dataset into train and test sets at 80:20 ratio
train, test = train_test_split(
    df3, test_size=0.20, stratify=df3["offensive"], random_state=42
)

In [36]:
train["offensive"].value_counts()

offensive
Yes    3200
No     3200
Name: count, dtype: int64

In [37]:
test["offensive"].value_counts()

offensive
Yes    800
No     800
Name: count, dtype: int64

In [38]:
# Saving the datasets
train.to_csv("../../01_Data/02_Processed/train.csv", index=False)
test.to_csv("../../01_Data/02_Processed/test.csv", index=False)